@model Portfolio.WebUI.Models.DepartmentIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>@Model.Name</h1>
</div>

<div class="divider">
    <h4>Products</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Items in stock</th>
            </tr>
        </thead>
        <iframe src="http://onhockey.tv/livesport.php?channel=ViasatHockey" width="1000" height="530" frameborder="0" scrolling="no"></iframe>
        <tbody>
            @foreach (var prod in Model.Products)
            {
                <tr>
                    <td>@prod.Title</td>
                    <td>@prod.Price.ToString()</td>
                    <td>@prod.ItemsInStock.ToString()</td>
                    <td><a href="#" class="btn btn-primary">Add to cart</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>



