@model Portfolio.WebUI.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Product Catalog</h1>
    <p class="lead">the Product Catalog is an ASP.NET MVC example app built using C#, Entity Framework Code First, MS SQL, LINQ, Github, JQuery, Bootstrap, CSS3, HTML5, SASS
</p>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Department</th>
                <th>Vendor</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var prod in Model.Products)
            {
                <tr>
                    <td>@prod.Title</td>
                    <td>@prod.Price.ToString()</td>
                    <td>@prod.Department.Name</td>
                    <td>@prod.Vendor.Name</td>
                </tr>
            }*@
        </tbody>
    </table>
</div>