@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Product Catalog</h1>
    <p class="lead">the Product Catalog is an ASP.NET MVC example app built using C#, Entity Framework Code First, MS SQL, LINQ, Github, JQuery, Bootstrap, CSS3, HTML5, SASS
</p>
</div>

<div class="container">
    

</div>